@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --overlay-color: #03a9f4;
}

body {
    background: white;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 0px 100px;
}

.contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: grey;
    opacity: 0.9;
}

.contactUs .title h2 {
    color: white;
    font-weight: 500;
}

.form {
    grid-area: form;
}
.info {
    grid-area: info;
}
.map {
    grid-area: map;
}
.contact {
    padding: 40px;
    background: white;
    box-shadow: 0px 5px 35px rgba(0,0,0,0.15);
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: rgb(143, 51, 60);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Form */
.formBox {
    position: relative;
    width: 100%;
}
.formBox .row50 {
    display: flex;
    gap: 20px;
}
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;

}
.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px, solid black;
}
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px, solid black;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type='submit'] {
    background: rgb(143, 51, 60);
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder {
    color: lightgray;
}

/* Info */
.info {
    background: grey;
    opacity: 0.9;
}
.info h3 {
    color: white;
}
.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    background: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p {
    color: white;
    font-size: 1.1em;
}
.info .infoBox div a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}
.sci {
    margin-top: 20px;
    display: flex;
}
.sci li {
    list-style: none;
    margin-right: 15px;
}
.sci li a {
    color: white;
    font-size: 2em;
    color: white;
}
.sci li a:hover {
    color: grey;
}

.map {
    padding: 0;
}
.map iframe {
    width: 100%;
    height: 100%;
}

/* Responsive design*/
@media (max-width: 991px)
{
    body {
        background: white;
    }
    .contactUs {
        padding: 20px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "form"
        "info"
        "map";
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        width: 100%;
    }
    .contact {
        padding: 30px;
    }
    .map {
        min-height: 300px;
        padding: 0;
    }
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('img/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: center;
    cursor: pointer;
}

.topBar header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('img/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: center;
    cursor: pointer;
}

.toggle.active {
    background: url('img/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: center;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
    background: white;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: var(--overlay-color);
}

.showcase {
    position:absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
    transition: 0.5s;
    background-image: url('../img/DJI_0097.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase.active {
    right: 300px;
}

.overlay {
    position: absolute;
    background: rgb(85, 85, 85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
}