body {
    background-image: url('img/DJI_0097.JPG');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.pfp {
    vertical-align: middle;
    height: 200px;
    width: 350px;
}